<div class="modal fade" id="<%= @modal_id %>" tabindex="-1" role="dialog" aria-labelledby="<%= @modal_id %>>Label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="<%= @modal_id %>Label"><%= @title %></h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h4><%= @body_message %></h4>
          <%= content %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-info" data-action="click-><%= @confirm_data_action %>" id="<%= @confirm_button_id %>"><%= @confirm_button_text %></button>
      </div>
    </div>
  </div>
</div>