<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :beneficiary %>
    <%= form.text_field :beneficiary, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :goal_amount %>
    <%= form.text_field :goal_amount, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :goal_deadline %>
    <%= form.date_select :goal_deadline, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :project_status %>
    <%= form.select :project_status, options_for_select({"Active":"active","Complete":"complete","On Hold":"onhold"},"active"), {}, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit 'Save', class: "btn btn-info" %>
  </div>
<% end %>
