<p id="notice"><%= notice %></p>
<div class="main main-raised" style="margin: 0 30px 0 30px">
  <div class="section" style="padding-top: 35px">
    <div class="container">
      <%= render(ProjectDescriptionComponent.new(project: @project)) %>
      <%= render(ProgressBarComponent.new(goal: @project.goal_amount, current_amount: 7500.0)) %>
      <button type="button" class="btn btn-info" data-toggle="modal" data-target="#donateModal">
      FightBack!
      </button>
    </div>
  </div>
  <div class="section" style="padding-top: 35px">
    <div class="container">
      <% if @project.images.attached? %>
        <%= render(ImagesCarouselComponent.new(images: @project.images)) %>
      <% end %>
    </div>
  </div>
</div>

<%= render(ModalComponent.new(
  title: "Are you ready to make a change?",
  modal_id: "donateModal",
  confirm_button_text: "Donate",
  confirm_button_action: "donate();",
  body_message: "Donate to #{@project.beneficiary}"
)) do %>
  <div class="form-group">
    <label for="payment-method">Payment Method</label>
    <select class="form-control" id="payment-method" aria-describedby="payment-method-help">
    <option value="" disabled selected>Select your option</option>
    <option value="paypal">PayPal</option>
    <!-- <option>Credit Card</option> -->
  </select>
    <small id="payment-method-help" class="form-text text-muted">We are working to integrate more payment methods in the near future.</small>
  </div>
  <div class="form-group">
    <label for="amount">Amount (USD)</label>
    <input type="number" min="1" step="any" value= 10 class="form-control" id="amount" placeholder="10">
  </div>
<% end %>

<script>
// We'll move this later
function donate() {
  var clicked = confirm("Thanks for your donation! Together we FightBack!")
  if (clicked){
    $('#donateModal').modal('hide')
  }
}
</script>