<!DOCTYPE html>
<html>
  <head>
    <title>FightBackDisease</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <!-- Fonts and icons -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-color-on-scroll navbar-transparent fixed-top navbar-expand-lg"  color-on-scroll="100">
      <div class="container">
        <div class="navbar-translate">
          <a class="navbar-brand" href="/">
          Home </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>

        <div class="collapse navbar-collapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="material-icons">login</i> Login
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <%= yield %>
    
    <%= render(CardsContainerComponent.new(title: "Find a project to support")) do %>
      <div class="row">
        <% Project.all.each do |project| %>
          <div class="col-xs col-sm-2 col-md-4">
            <%= render(ProjectCardComponent.new(project: project)) %>
          </div>
        <% end %>
      </div>
    <% end %>

    <footer class="footer footer-default" >
      <div class="container">
        <nav class="float-left">
          <ul>
            <li>
              <!-- <a href="">
              </a> -->
            </li>
          </ul>
        </nav>
        <div class="copyright float-right">
            <span id='year'></span>
            &copy;
            FightBack
            <script>
                $('#year').html(new Date().getFullYear())
            </script>
        </div>
      </div>
    </footer>
  </body>
</html>
